

.flexing-sidebar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-family: 'komika_titleregular';
    color:grey;
}

#marvel-logo{
    height:70px;
    margin: 5px;
    box-shadow: 0px 0px 5px 5px grey;    
}

.nav-links{
    color: #ea232ac9;
    font-family: 'komika_title_-_axisregular';
    font-size: 1rem;
    margin:3px;
}
.nav-links:link {
    text-decoration: none;
}

.nav-links:visited {
    text-decoration: none;
}

.nav-links:hover {
    text-decoration: underline;
}

.nav-links:active {
    text-decoration: underline;
}
