

.flexing-home{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    
}
.images-slider{
    width: 60vw;
    object-fit:fill; 
    z-index: 1;
}
.alice-carousel{
    width: 60vw;
}

#title-home{
    font-family: "komika_title_-_wideregular";
    color: var(--font-main-color);
}
