

.centered{
    margin: 10px;
}

.cards{
    

    width: 274px;
    height: 390px;
    background-color: #F5F5F5;
    box-shadow: 5px 0px 5px 0px grey;   
}
.card{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    

}

.images-slider{
    width: 274px;
    height: 344px;
    object-fit:fill; 
    z-index: 1;
}
.title-header-comic{
    margin-top: 10px;
    text-align: center;
    font-family: 'komika_title_-_paintregular';
    font-size: 0.7rem;
    color: var(--third-bg-color);
    text-decoration:none;
}