
.App{
  display:grid;
  height: 100vh;
  grid-template: auto 1fr auto/auto 1fr auto;
  grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
  grid-template-rows: repeat(auto-fill, minmax(10px,1fr));
  overflow-x: hidden;
  overflow-y: hidden;
  
}
.App-sidebar{
  grid-column: 1/-1;
  grid-row: 1/9; 
  background: var(--third-bg-color);
  background: radial-gradient(circle,var(--third-bg-color) 34%,var(--forth-bg-color) 44%,var(--second-bg-color) 58%,var(--main-bg-color) 86%);
}

.App-Content{
  grid-column: 1/-1;
  grid-row: 9/-4;
  background: var(--fifth-bg-color);
  background: linear-gradient(180deg, var(--fifth-bg-color) 31%, var(--sixth-bg-color) 86%);
  align-items: center;
  justify-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}
.App-Content::-webkit-scrollbar {
  width: 1px;             /* width of the entire scrollbar */
}

.App-Content::-webkit-scrollbar-track {
  background: linear-gradient(180deg, var(--fifth-bg-color) 31%, var(--sixth-bg-color) 86%);        /* color of the tracking area */
}

.App-Content::-webkit-scrollbar-thumb {
  background-color: black;    /* color of the scroll thumb */
  border-radius: 1px;       /* roundness of the scroll thumb */
  border: 1px solid linear-gradient(180deg, var(--fifth-bg-color) 31%, var(--sixth-bg-color) 86%);  /* creates padding around scroll thumb */
}

.footers{
  grid-column: 1/-1;
  grid-row: -4/-1;
  overflow-y: hidden;
  background: linear-gradient(0deg,var(--fifth-bg-color)31%,var(--sixth-bg-color)86%);
  z-index: 1;
}