
.App{
  
  display:grid;
  height: 100vh;
  grid-template: auto 1fr auto/auto 1fr auto;
  grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
  grid-template-rows: repeat(auto-fill, minmax(75px,1fr));
  
}
.App-sidebar{
  grid-column: 1/-1;
  grid-row: 1; 
  
  background: var(--third-bg-color);
  background: radial-gradient(circle,var(--third-bg-color) 34%,var(--forth-bg-color) 44%,var(--second-bg-color) 58%,var(--main-bg-color) 86%);

}

.App-Content{
  grid-column: 1/-1;
  grid-row: 2/-1;
  background: var(--fifth-bg-color);
  background: linear-gradient(180deg, var(--fifth-bg-color) 31%, var(--sixth-bg-color) 86%);
}