:root{
    --main-bg-color: #2C3333;
    --second-bg-color: #395B64;
    --third-bg-color:#2666CF;
    --forth-bg-color:#a8dadc;
    --fifth-bg-color:#473964;
    --sixth-bg-color:#31332c;
    --marvel-color:#EA2328;
}
